@page
@model Fribergs_rentals_2.Pages.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Lägg till bil</h1>

<h4>Uppgifter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.Maker" class="control-label"></label>
                <input asp-for="Car.Maker" class="form-control" />
                <span asp-validation-for="Car.Maker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Mod" class="control-label"></label>
                <input asp-for="Car.Mod" class="form-control" />
                <span asp-validation-for="Car.Mod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Year" class="control-label"></label>
                <input asp-for="Car.Year" class="form-control" />
                <span asp-validation-for="Car.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Color" class="control-label"></label>
                <input asp-for="Car.Color" class="form-control" />
                <span asp-validation-for="Car.Color" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Car.UnAvailable" /> @Html.DisplayNameFor(model => model.Car.UnAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Car.PricePerDay" class="control-label"></label>
                <input asp-for="Car.PricePerDay" class="form-control" />
                <span asp-validation-for="Car.PricePerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Description" class="control-label"></label>
                <input asp-for="Car.Description" class="form-control" />
                <span asp-validation-for="Car.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
