@page
@model Fribergs_rentals_2.Pages.Customers.LogInModel
@{
    ViewData["Title"] = "Customer Login";
}

<h1>Inloggning</h1>
<hr />
<div class="row">
    <div class="">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Email" class="control-label">E-post</label>
                <input type="email" id="Email" name="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Password" class="control-label">Lösenord</label>
                <input type="password" id="Password" name="Password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Logga in" class="normalbutton" />
            </div>
        </form>
    </div>
</div>