@page
@model Fribergs_rentals_2.Pages.CarPictures.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Ändra Bild</h1>

<h4>@Model.CarPicture.Car.Maker @Model.CarPicture.Car.Mod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarPicture.Car.CarId" />
            <input type="hidden" asp-for="CarPicture.Car.Maker" />
            <input type="hidden" asp-for="CarPicture.Car.Mod" />
            <input type="hidden" asp-for="CarPicture.Car.Year" />
            <input type="hidden" asp-for="CarPicture.Car.Color" />
            <input type="hidden" asp-for="CarPicture.Car.UnAvailable" />
            <input type="hidden" asp-for="CarPicture.Car.PricePerDay" />
            <input type="hidden" asp-for="CarPicture.Car.Description" />
            <input type="hidden" asp-for="CarPicture.Car.CarPictures" />
            <input type="hidden" asp-for="CarPicture.CarPictureId" />
            <div class="form-group">
                <label asp-for="CarPicture.CarPicURL" class="control-label"></label>
                <input asp-for="CarPicture.CarPicURL" class="form-control" />
                <span asp-validation-for="CarPicture.CarPicURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="@Model.CarPicture.CarPicURL" class="imgSmall" />
                <input type="submit" value="Spara" class="normalbutton" /> | <a asp-page="./Index">Tillbaka till lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
