@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* TODO: How to use installed fontAwesome? *@
<script src="https://kit.fontawesome.com/69379f0e67.js" crossorigin="anonymous"></script>
<div class="text-center">
    <h1 class="display-4">Fribergs biluthyrning</h1>
    <p>För dig som <i class="fa-solid fa-car-side" style="color: #ec1f09;"></i> att vara på väg.</p>
</div>
