@page
@model IndexModel
@using Data
@using Models
@{
    ViewData["Title"] = "Home page";
}

<div style="text-align:center; padding: 10px">
    <h1>Fribergs biluthyrning</h1>
    <p style="margin:0 auto">För dig som <i class="fa-solid fa-car-side" style="color: #ec1f09;"></i> att vara på väg.</p>
</div>
<div class="slideshow-container">
    <div class="slideshow-wrapper">
        @{
            foreach (var url in Model.ImgUrls)
            {
                <img src="@url" alt="Bild på bil" />
            }
        }
    </div>
</div>
