@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om oss";
}
<h1>@ViewData["Title"]</h1>

<p>Vi är den lilla firman som bjuder på den stora bilupplevelsen.
    Hemsidan är under konstruktion och mer information kommer upp allt eftersom.
    Har du frågor? Tveka inte att höra av dig till ägaren Marcus Friberg:
    <br />
    <br />
    <i class="fa-solid fa-phone"></i> +46 70 666 777 888
    <br />
    <br />
    <i class="fa-solid fa-at"></i> <a href="mailto:marcus@friberg.nu">marcus@friberg.nu</a>
</p>
